---
import TypingIntro from '../components/TypingIntro.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Patrick Deniso">
	<main>
		<div class="flex md:flex-row flex-col items-center md:gap-0 gap-8">
			<TypingIntro/>
			<img class="w-64 h-64" src="profile_picture.jpeg" alt="Me!">
		</div>
	</main>
</Layout>