---
import Experience from "../components/Experience.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Patrick Deniso">
	<main class="flex md:flex-row flex-col items-center md:gap-0 gap-8">
        <ol class="relative border-s border-gray-200 dark:border-gray-700">                  
            <Experience name="Microsoft" duration="[Internship] Sept. 2024 - Dec. 2024" logo="/logos/microsoft.webp" current="true" experience="ðŸŒ©ï¸ Azure Service Health | Enhancing service reliability and real-time monitoring"></Experience>
            <Experience name="MongoDB" duration="[Internship] June 2024 - Aug. 2024" logo="/logos/mongodb.png" experience="ðŸ”„ Cluster-to-Cluster Synchronization | Building mongosync"></Experience>
            <Experience name="Wealthsimple" duration="[Internship] Jan. 2024 - May 2024" logo="/logos/wealthsimple.jpeg" experience="ðŸ› ï¸ API Platform | Delivering API building blocks to product teams"></Experience>
            <Experience name="National Bank Financial Markets" duration="[Internship] Sept. 2023 - Dec. 2023" logo="/logos/national_bank.png" experience="ðŸ“ˆ Fixed Income, Currency & Commodities | Developing tools on the trading floor"></Experience>
            <Experience name="Intact Financial Corp." duration="[Internship] May 2023 - Aug. 2023" logo="/logos/intact.png" experience="ðŸš¦ Data Feeds | Engineering reliable data streams"></Experience>
        </ol>
	</main>
</Layout>