---
import Experience from "../components/Experience.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Patrick Deniso">
	<main class="flex md:flex-row flex-col items-center md:gap-0 gap-8">
        <ol class="relative border-s border-gray-200 dark:border-gray-700">                  
            <Experience name="Microsoft" duration="Sept. 2024 - Dec. 2024" logo="/logos/microsoft.webp" current="true" experience="SWE Intern on Azure Service Health"></Experience>
            <Experience name="MongoDB" duration="June 2024 - Aug. 2024" logo="/logos/mongodb.png" experience="SWE Intern on Cluster-to-Cluster Synchronization"></Experience>
            <Experience name="Wealthsimple" duration="Jan. 2024 - May 2024" logo="/logos/wealthsimple.jpeg" experience="SWE Intern on API Platform"></Experience>
            <Experience name="National Bank Financial Markets" duration="Sept. 2023 - Dec. 2023" logo="/logos/national_bank.png" experience="SWE Intern on FICC, developing front office tools"></Experience>
            <Experience name="Intact Financial Corp." duration="May 2023 - Aug. 2023" logo="/logos/intact.png" experience="SWE Intern on the Data Feeds team"></Experience>
        </ol>
	</main>
</Layout>