---
const year = new Date().getFullYear();
---
<footer>
    <div class="flex flex-col items-center gap-4">
        <ul class="flex items-center gap-8">
            <li><a class="icon__link" href="https://github.com/engineeringpatrick" target="_blank"><span class="git-icon">GitHub</span></a></li>
            <li><a class="icon__link" href="mailto: patrickdeniso@gmail.com"><span class="mail-icon">Email</span></a></li>
            <li><a class="icon__link" href="https://www.linkedin.com/in/patrick-deniso/" target="_blank"><span class="linked-in">LinkedIn</span></a></li>
        </ul>
        <small>&copy; {year} by <a class="footer__link" href="https://github.com/engineeringpatrick">Patrick</a> with ❤️</small>
    </div>
</footer>

