---
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
---
<header>
    <nav transition:persist >
        <div class="flex items-center gap-4">
            <Navigation/>
            <ThemeIcon/>
        </div>
    </nav>
</header>

