---
---
<div class="flex gap-8">
    <!-- <div class="">
        <a href="/">Patrick Deniso</a>
    </div> -->
    <a href="/works/">Work</a>
    <a href="/projects/">Projects</a>
    <a href="/posts/">Posts</a>
</div>

