---
---

<div id="typing-box" class="w-96 text-xl"> </div>

<script>
  import Typewriter from 'typewriter-effect/dist/core';

  var typewriter = new Typewriter("#typing-box", {
    loop: false,
    delay: 25,
    deleteSpeed: 10,
  });

  const lines = ["const Patrick = {", "name: 'Patrick Deniso',", "role: 'Software Engineer',", "workInterests: 'Distributed Systems',"];
  const interests = ["'Running'", "'Urbanism'", "'Language Learning'", "'History & Philosophy'", "'Anything cool :)',"]
  typewriter = typewriter.pauseFor(500)

  lines.forEach((line: string) => {
    typewriter = typewriter.typeString(line);
    typewriter = typewriter.typeString("<br/><span>&emsp;</span>").pauseFor(300);
  });
  
  typewriter = typewriter.typeString("interests: ");
  interests.forEach((interest: string, idx: number) => {
    typewriter = typewriter.typeString(interest).pauseFor(400);
    if(idx < interests.length - 1) typewriter = typewriter.deleteChars(interest.length);
  })

  typewriter.pause(500).typeString("<br>};").start();
</script>